body {
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: silver;
    border-bottom: 1px solid #000;
    justify-content: space-around;
    .button-navigation {
        width: 15%;
        height: 75%;
        border: 1px solid black;
        border-radius: 3px;
        text-align: center;
        align-self: center;
        transition: .5s linear;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: #000;
            transition: .5s linear;
        }
        &:hover {
            background-color: black;
            border: 1px solid white;
        }
        &>a:hover {
            color: white;
        }
    }
    .header-title {
        display: flex;
        align-items: center;
        & > a {
            color: #000;
            text-decoration: none;
        }
    }
}

.title > h1 {
    text-align: center;
}

.news {
    display: grid;
    grid-template-columns: 46% 50%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    text-align: center;
    margin: 0 2rem;
    .information-block {
        min-height: 8rem;
        border: 1px solid #000;
        .info-button {
            width: 5rem;
            height: 2rem;
            border: 1px solid black;
            margin: 1rem;
            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: black;
                height: 100%;
                transition: .3s linear;
            }
            &:hover {
                & > a {
                    color: white;
                    background: black;
                }
            }
        }
    }
}

.info-links {
    text-decoration: none;
}
